body {
  background-color: #243c91;
}

.container {
  margin: auto;
  max-width: 900px;
}

.done {
  text-decoration: line-through;
}

.imageChecklist {
  width: 400px;
}

.checklistInfo {
  text-align: center;
  width: 400px;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 15px 30px;
  margin-top: 15px;
  background-color: #F5F5F5;
  border-radius: 10px;
  color: #DF4FBF;
}

.card {
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #DF4FBF;
  color: white;
  border-radius: 50%;
  cursor: pointer;

}

.addButton:hover{
  background-color: #AF4297;
  transition-duration: 200ms;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardModal {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}

.hide {
  display: none;
}

.cardButton{
  border: none;
  background: none;
  cursor: pointer;
}

.cardButton:hover{
  opacity: 0.7;
}


.activityInput{
  border: 2px solid black;
  margin-right: 10px;
  height:30px;
  font-size: 16px;
}

.activityInput:focus{
  outline: none;
  border-color: #DF4FBF;
}

.activityButton{
  border: none;
  background-color: #DF4FBF;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.activityButton:hover{
  background-color: #AF4297;
  transition-duration: 200ms;
}